@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	width: 100%;
	background-color:hsla(0,0%,22%,1.00);
	flex: 1;
}

.compressed {
	display: flex;
}
div.bodyText {
	background-color:hsla(0,0%,22%,1.00);
	color: hsla(0,0%,100%,1.00);
	display:inline-block;
	width: 100%;
	padding: 0px;
	
}
div.footer {
  background-color: hsla(0, 0%, 20%, 1.00);
  color: hsla(0, 0%, 100%, 1.00);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
div.footer img:hover {
	cursor: pointer;
}
div.left-section {
  margin-right: 20px;
}

div.contactme {
  text-align: center;
}

div.contactme h3 {
  color: #fff;
}

div.contactme p {
  color: #fff;
}

div.Header {
	background-color: #333;
	color: hsla(0,0%,27%,1.00);
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

li.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
div.menuleft {
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
	
}

.Header img { 
	text-align: right;
	
}

.active {
	display: table-cell;
	vertical-align: middle;
	height: 26px;
	
}
.split {
	display: table-cell;
	vertical-align: middle;
	height: 26px;
}
.bodyText img { 
	width: 300px;
	height: 250px;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}
.bodyText p {
	max-width: 1000px;
	margin: 10px;
	font-size: 16px;
	vertical-align: middle;
}
.bodyText H1{
	color: #fff;
	text-align: left;
	
	
}

.TheRest {
	background-color: #333;
	height: 54px;
}
.logo {
	font-weight: 200; 
	display: table-cell; 
	vertical-align: middle;
}
.logoImg {
	display: table-cell; 
	vertical-align: middle;
}
img.strats  {
	width: 270px;
	height: 140px;
	border: 5px solid #222;
    border-radius: 15px;
	margin-left: 10px;
	box-shadow: 0 4px 8px #aaaaaa;
	margin-bottom: 15px
	
}
img.King {
	border: 5px solid #222;
    border-radius: 15px;
	margin-left: 10px;
	margin-top: 30px;
	box-shadow: 0 4px 8px #aaaaaa;
	object-fit: cover;
	max-width: 30%;
	max-height: 30%;
	margin-bottom: 5px;

}
td.left {
	min-width: 160px;
	width: 180px;
	max-width: 190px;
}
td.right {
	width: 250px;
}
img.Position {
	padding: 1px;
	border: 5px solid hsla(0,0%,66%,1.00);
    border-radius: 15px;
	margin-left: 10px;
	margin-top: 30px;
	box-shadow: 0 4px 8px #aaaaaa;
	max-width: 300px;
	margin-bottom: 5px; 
	
}
img.Puzzle {
	padding: 1px;
	border: 5px solid hsla(0,0%,66%,1.00);
    border-radius: 15px;
	margin-left: 10px;
	margin-top: 30px;
	box-shadow: 0 4px 8px #aaaaaa;
	max-width: 100%; 
    height: auto; 
}
img.piece:hover {
    cursor: pointer;
}
@media all and (min-width: 480px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}
.popup-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	
 }
 .popup-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
 }
 .popup-menu a:hover {
	 background-color: #f1f1f1
}


.timeline {
	color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    max-width: 800px;
    margin: 50px auto;
    border-bottom: 2px solid #fff;
}

.event {
    position: relative;
    text-align: center;
    flex: 1;
	color: #fff
}

.event::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    bottom: -26px; 
    left: 50%;
    transform: translateX(-50%);
}

.date {
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.event:hover {
    background-color: hsla(0,0%,39%,1.00);
	cursor: pointer;
}
h1.MainH1 {
	text-align: center;
	color: #fff;
}
h2 {
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	text-align: center
}
h1 {
	text-align: center;
}
.Paragraph {
  width: 100%;
  max-width: 550px;
  margin: 0 auto; 
  text-align: center;
}
.Paragraph p{
	text-align: center;
	color: #fff;	
}
table {
    border-collapse: collapse;
}

th, td {
    border: none;
}

th {
    font-weight: bold;
}
a.AnswersLink {
	color: #fff;
	
}
.Bodycenter {
	text-align: center;
}
.Bodycenter h1{
	text-align: center;
}
.table1 {
	align-content: center;
	width: 100%;
}

.Moves {
	padding: 1px;
	border: 5px solid hsla(0,0%,66%,1.00);
    border-radius: 15px;
	margin-left: 10px;
	margin-top: 30px;
	box-shadow: 0 4px 8px #aaaaaa;
	margin-bottom: 5px; 
}
h3 {
	font-size: 15px;
}
.description {
	color: #fff;
}
.date {
	color: #fff;
}
.href1 {
	color: #fff;
}

.introduction {
    text-align: center;
}



.square {
	width: 550px;
    height: 290px;
    background: linear-gradient(to bottom right, darkgray, black); /* Gradient from red to blue */
    border-radius: 10px;
    margin: 25px 30px 15px auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.square h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.square p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
}

.gif1 {
	padding: 70px;
} 
.moreinfo {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
	color: #fff;
	
}
.gif2 {
	padding: 1px;
	border: 5px solid hsla(0,0%,66%,1.00);
    border-radius: 15px;
	box-shadow: 0 4px 8px #aaaaaa;
	margin-bottom: 5px; 
	margin-left: 60px;
}
.gif1 {
	padding-right: 60px;
}





@media screen and (max-width: 768px) {
  .rulesTable td {
    display: flex;
    flex-direction: column;

  }
  .bodyText img.Moves {
    margin-top: 5px; 
    margin-bottom: 5px; 
    margin-right: 0;
  }

}
.Position {
  width: 100%;
  height: auto;
}

@media all and (min-width: 480px) {
  .rulesTable {
    width: 900px;
  }
}
.rulesTable {
  margin: 0 auto;
}

.rulesTable td {
  padding: 1px;
}
.rulesTable td h2 {
	text-align: left;
}