@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	width: 100%;
	background-color:hsla(0,0%,22%,1.00);
	flex: 1;
}

.compressed {
	display: flex;
}
div.bodyText {
	background-color:hsla(0,0%,22%,1.00);
	color: hsla(0,0%,100%,1.00);
	display:inline-block;
	width: 100%;
	padding: 0px;
}
div.footer{
	background-color:hsla(0,0%,20%,1.00);
	color: hsla(0,0%,100%,1.00);
	height: 90px;
	display: inline-block;
	width: 100%;
	padding: 0px;
	text-align: center;
	position: fixed;
		
}


div.Header {
	background-color: #333;
	color: hsla(0,0%,27%,1.00);
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}

li.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
div.menuleft {
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
	
}

.Header img { 
	text-align: right;
	
}

.active {
	display: table-cell;
	vertical-align: middle;
	height: 26px;
	
}
.split {
	display: table-cell;
	vertical-align: middle;
	height: 26px;
}
.bodyText img { 
	width: 300px;
	height: 250px;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}
.bodyText p {
	max-width: 600px;
	margin: 10px;
}
.TheRest {
	background-color: #333;
	height: 54px;
}
.logo {
	font-weight: 200; 
	display: table-cell; 
	vertical-align: middle;
}
.logoImg {
	display: table-cell; 
	vertical-align: middle;
}
img.strats  {
	width: "270";
	height: "140";
	border: 5px solid #222;
    border-radius: 15px;
	margin-left: 10px;
	box-shadow: 0 4px 8px #aaaaaa;
	
}
img.King {
	border: 5px solid #222;
    border-radius: 15px;
	margin-left: 10px;
	box-shadow: 0 4px 8px #aaaaaa;
	object-fit: cover;
	max-width: 30%;
	margin-bottom: 5px;
	
}
@media all and (min-width: 480px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}
